@font-face {
    font-family: '307DC5-bold';
    src: url(/assets/font/307DC5_0_0.woff2);
    src: url(/assets/font/307DC5_0_0.woff2) format("woff2");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: '307DC5-lighter';
    src: url(/assets/font/307DC5_0_0.woff2);
    src: url(/assets/font/307DC5_0_0.woff2) format("woff2");
    font-weight: lighter;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
    --backgroundmain: rgb(0, 0, 0);
    --backgroundwhite: rgb(255, 255, 255);
}


/*Grundelemente*/

body {
    background-color: var(--backgroundmain);
    font-family: '307DC5-lighter';
    padding: 0;
    margin: 0;
}

p {
    font-family: '307DC5-lighter';
    font-size: 1em;
}

h2 {
    font-family: '307DC5-bold';
}

h3 {
    margin-top: 3px;
    font-size: 1em;
}


/*Divs mit Bildern drin*/

#catsifindbeautiful {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 1.5em;
}

#catsineedtoseewhenimhavingabadday {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 1.5em;
}

#catsthatcreepmeout {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 1.5em;
}


/*Projektbeschrieb*/

.p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
    /*margin-top: 50px;*/
    text-align: justify;
}


/*Hover-Text Collage*/

.pthree {
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 120px;
    text-decoration: underline;
}

.pthree:hover {
    cursor: pointer;
    color: rgb(205, 205, 205);
}

ul.a {
    list-style: circle;
    margin: 0;
}


/*Links*/

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(205, 205, 205);
    cursor: pointer;
}


/*Header-Elemente*/

.navigation {
    width: 30%;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    height: flex;
    z-index: 10002;
    margin-left: 35%;
}


/*Header Überschrift*/

.navi-item {
    color: rgb(0, 0, 0);
    font-family: '307DC5-lighter';
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    display: flex;
}


/*Header Hashtag-Links*/

.navi-header {
    color: rgb(0, 0, 0);
    font-family: '307DC5-lighter';
    font-size: 1em;
    margin-left: 10px;
    display: flex;
}


/*Schrift Autoren*/

.autoren {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    text-align: justify;
}


/*Schrift Unsere Namen*/

.ueberschrift {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
}


/*Fotos*/

.img {
    float: left;
    margin: 0px;
    padding: 0px;
}

.correctionimage {
    justify-items: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    transform: scale(165%);
}


/*Hover*/

.box {
    position: relative;
    width: auto;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.box:hover img {
    opacity: 0;
}

.box:hover img.hover-img {
    opacity: 1;
}

img {
    width: 100%;
    transition: all linear 0.5s;
}

img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.img-collage {
    display: none;
}

span:hover+.img-collage {
    display: block;
}


/*Footer-Elemente*/

.navi-footer {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 1.5em;
}


/*Flex-Elemente*/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--backgroundwhite);
    width: 30%;
    height: flex;
    margin: 0 auto;
    padding-top: 70px;
    overflow: hidden;
    font-family: '307DC5-lighter';
    font-size: 10px;
}

.flex-item {
    width: 32%;
    height: auto;
    padding: 0;
    margin: 0;
}


/*.imagemove {
    cursor: pointer;
}*/


/*.body-about {
    background: white;
}*/